doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Our Logistics
    block style    
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='../static/style/homeStyle.css')
  body
    #outermost
    nav#navbar
      #navbar-overlay
      #inside-navbar
        #logo
          h1 Our  Logistics 
        #nav-contents
          ul
            li.nav-list-items
              a#company(href='')
                | Our Company
                i.fa.fa-angle-down.arrow-down.arrow-in-shop-login
            li.nav-list-items
              a#home(href='')
                | Services
                i.fa.fa-angle-down.arrow-down.arrow-in-shop-login
            li.nav-list-items
              a#tracking(href='')
                | Tracking
                // <i class="fa fa-angle-down arrow-down arrow-in-shop-login"></i>
            li.nav-list-items
              a#tracking(href='')
                | Help Center
                // <i class="fa fa-angle-down arrow-down arrow-in-shop-login"></i>
            li.nav-list-items
              if user
                a#signin-button(href='/customer/dashboard')
                  | Your Account
              else  
                a#signin-button(href='/login')
                  | Sign In
            li.nav-list-items
              a#search-icon-navbar(href='')
                i.fa.fa-search
    #div-for-search
      #div-inside-search-div
        input#navbar-search(type='text', name='navbar-search', autofocus='', placeholder='Search here...')
        span#cross-navbar-search ✕
    // HOVER ON OUR COMPANY IN BUTTON
    section#hover-on-company
      .div-inside-section-of-navbar-links
        #arrow
          .arrow-up
        .Allitems-ofdiv-inside-section-of-navbar-links
          ul#list-of-hoverLogin
            a.item-hoverShop(href='')
              li About Us
            a.item-hoverShop(href='')
              li Contact
            a.item-hoverShop(href='')
              li#lastItemOfHoverShop Careers
    // HOVER ON OUR SERVICES IN BUTTON
    section#hover-on-home
      .div-inside-section-of-navbar-links
        #arrow
          .arrow-up
        .Allitems-ofdiv-inside-section-of-navbar-links
          ul#list-of-hoverLogin
            a.item-hoverShop(href='')
              li  Bidding Enquiry
            a.item-hoverShop(href='')
              li  GPS Enquiry
            a.item-hoverShop(href='')
              li  Truck Enquiry
            a.item-hoverShop(href='')
              li Fastag Enquiry
            a.item-hoverShop(href='')
              li Revolution In Logistics
            a.item-hoverShop(href='')
              li Price Calculator
            a.item-hoverShop(href='')
              li#lastItemOfHoverShop Why Our Logistics?
    block content
    footer
      #main-div-inside-footer
        .divs-in-footer
          h2 More Information
          .div-with-links
            a(href='') Contact us
            a(href='') About us
            a(href='') TrucGo Policies
            a(href='') Terms of use
            a(href='') Careers
            a(href='') Press Releases
        .divs-in-footer
          h2 Our Services
          .div-with-links
            a(href='') Transport Services
            a(href='') Logistic Services
            a(href='') Bidding Services
            a(href='') Full Track Load
            a(href='') Part Load Services
        .divs-in-footer
          h2 Let Us Help You
          .div-with-links
            a(href='') Customer Care
            a(href='') Payments
            a(href='') 100% Shipment Protection
            a(href='') Expansion In Business
    // PHONE CALL IN THE SIDE OF THE SCREEN
    section#phone-call
      #div-inside-phone-call
        a(href='tel:+919340618228')
          img(src='../static/img/phone.svg', alt='')
    block script
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
        script(src='../static/script/homeScript.js')          